<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.fezrestia.android.viewfinderanywhere"

    android:versionCode="543"
    android:versionName="5.2.0-543"
>
<!--                     | | | |-> incremental build count
                         | | |-> patch
                         | |-> minor
                         |-> major
-->

    <!-- Permissions. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Features. -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Application. -->
    <application
        android:name=".App"
        android:icon="@drawable/application_icon"
        android:label="@string/application_label"
        android:hardwareAccelerated="true"
        android:allowBackup="false"
        tools:ignore="GoogleAppIndexingWarning"
    >
        <activity
            android:name=".activity.ViewFinderAnywhereSettingActivity"
            android:label="@string/preference_app_label"
            android:theme="@style/Theme.AppCompat"
            android:launchMode="singleTask"
            tools:ignore="ExportedPreferenceActivity"
        >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service
            android:name=".service.OverlayViewFinderService"
            android:exported="false"
        />

        <receiver
            android:name=".receiver.OverlayViewFinderTriggerReceiver"
            android:exported="false"
        >
            <intent-filter>
                <action android:name="com.fezrestia.android.viewfinderanywhere.intent.ACTION_TOGGLE_OVERLAY_ENABLE_DISABLE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.ToggleEnableDisableWidget"
        >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggle_enable_disable_widget_info"
            />
        </receiver>

    </application>

</manifest>
